---
interface Props {
  title: string;
  description: string[];
}

const { title, description } = Astro.props;
---

<section id="about">
  <div class="icon-title">
    <img src="about.svg" alt={title}>
    <h2>{title}</h2>
  </div>
  <div class="content">
    <div class="description">
      {
        description.map((item) => (
          <p>{item}</p>
        ))
      }
    </div>
    <div class="img">
      <img src="/profile_picture.avif" alt='Freddy image'>
    </div>
  </div>
</section>
<style>
  section {
    margin: 0 15%;
    @media (width < 769px) {
      margin: 0 50px;
    }
  }
  .icon-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
    h2 {
      font-size: 30px;
      margin: 0;
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    @media (width < 599px) {
      flex-direction: column;
      row-gap: 30px;
    }
  }
  .description {
    width: 500px;
    max-width: 100%;
    p {
      width: 100%;
    }
  }
  .img {
    width: 250px;
    object-fit: cover;
    img {
      box-sizing: border-box;
      border: 8px solid lightgray;
      box-shadow: 1px 1px 3px black, -1px -1px 3px black;
      width: 100%;
      height: 100%;
      border-radius: 200px;
    }
  }
</style>
