---
interface Props {
	isAvailable: boolean;
  languageCode: string;
  link?: string;
}

const { isAvailable, languageCode, link } = Astro.props;

const textValue = () => {
  switch(languageCode) {
    case 'es': 
      return isAvailable ? 'Disponible para trabajar' : 'No disponible'
      case 'fr': 
      return isAvailable ? 'Disponible pour travailler' : 'Unavailable'
      default:
        return isAvailable ? 'Available for work' : 'Unavailable'
  }
}
const text = textValue
---
<a href={link} class={`content-pill 
  ${isAvailable ? `isAvailable` : `isNotAvailable`}`}>
  {text}
</a>
<style>
.content-pill {
    min-width: 150px;
    height: 30px;
    border-radius: 50px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    color: white;
    padding: 5px 15px;
    animation: glow 2s ease-in-out infinite alternate;
  }
  .isAvailable {
    background-color: green;
    &:hover {
      box-shadow: 0 0 5px green;
    }
  }
  .isNotAvailable {
    background-color: red;
    &:hover {
      box-shadow: 0 0 5px red;
    }
  }
  @-webkit-keyframes glow {
  from {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px darkgreen, 0 0 5px darkgreen, 0 0 6px darkgreen, 0 0 7px darkgreen, 0 0 9px darkgreen;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 7px green, 0 0 10px green, 0 0 12px green, 0 0 15px green, 0 0 17px green, 0 0 20px green;
  }
}
</style>
