---
interface Props {
	link: string;
  icon: string;
  text: string;
}

const { link, icon, text } = Astro.props;
---
<a href={link} target="_blank" class="contact">
  <img src={icon} alt={`${text} icon`}>
  {text}
</a>
<style>
.contact {
  min-width: 130px;
  max-width: 30%;
  height: 30px;
  border-radius: 50px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 2px 2px 5px gray;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  display: flex;
  column-gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: lightgray;
  &:hover {
    box-shadow: 2px 2px 5px black;
  }
  img {
    width: 24px;
    height: 24px;
  }
}
</style>
