---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<section id="about">
  <div class="icon-title">
    <img src="projects.svg">
    <h2>Projects</h2>
  </div>
  <h3>Coming soon...</h3>
</section>
<style>
  section {
    margin: 50px 15%;
  }
  .icon-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
    h2 {
      font-size: 30px;
      margin: 0;
    }
  }
</style>
