---
interface Props {
  name?: string;
}

const { name } = Astro.props;
const tech = getTechParams(name!)

function getTechParams(tech: string): any {
  switch (tech) {
    case 'angular2':
      return {
      color: '#c3002f',
      title: 'Angular 2+'
    }
    case 'angular4':
    return {
      color: 'whi#c3002fte',
      title: 'Angular 4+'
    }
    case 'astro':
      return {
      color: '#1429fa',
      title: 'Astro'
    }
    case 'react':
      return {
      color: '#07c3f5',
      title: 'React'
    }
    case 'nextjs':
      return {
      color: 'black',
      title: 'Next.js'
    }
    case 'docker':
      return {
      color: '#1D63ED',
      title: 'Docker'
    }
    case 'githubActions':
      return {
      color: 'black',
      title: 'GitHub Actions'
    }
    case 'jira':
      return {
      color: '#0052CC',
      title: 'Jira'
    }
    case 'bitbucket':
      return {
      color: '#0357D1',
      title: 'BitBucket'
    }
    case 'nodejs':
      return {
      color: '#66cc33',
      title: 'Node.js'
    }
    case 'net':
      return {
      color: '#512bd4',
      title: '.Net'
    }
    case 'mysql':
      return {
      color: '#00758F',
      title: 'MySQL'
    }
    case 'postgresql':
      return {
      color: '#0064a5',
      title: 'PostgreSQL'
    }
    case 'gcp':
      return {
      color: '#DB4437',
      title: 'Google Cloud Platform'
    }
    case 'firebase':
      return {
      color: '#DD2C00',
      title: 'Firebase'
    }
    case 'github':
      return {
      color: 'black',
      title: 'GitHub'
    }
    case 'azure':
      return {
      color: '#0067b8',
      title: 'Azure'
    }
    case 'azureDevops':
      return {
      color: '#0067b8',
      title: 'Azure DevOps'
    }
    case 'javascript':
      return {
      color: '#c4af00',
      title: 'JavaScript'
    }
    case 'php':
      return {
      color: '#777BB3',
      title: 'PHP'
    }
    case 'python':
      return {
      color: '#4584b6',
      title: 'Python'
    }
    case 'cypress':
      return {
      color: '#1B1E2E',
      title: 'Cypress'
    }
    case 'sass':
      return {
      color: '#c69',
      title: 'Sass'
    }
    case 'tailwind':
      return {
      color: '#05affa',
      title: 'Tailwind'
    }
    case 'vercel':
      return {
      color: 'black',
      title: 'Vercel'
    }
    case 'jest':
      return {
      color: '#C63D14',
      title: 'Jest'
    }
    case 'vite':
      return {
      color: '#3d1663',
      title: 'Vite'
    }
    default:
      return {}
  }
}
---
<span class="pill" style=`color: ${tech.color ?? 'unset'};`>{tech.title}</span>
<style>
  .pill {
    max-width: 80%;
    height: 24px;
    text-align: center;
    box-sizing: border-box;
    cursor: default;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 10px;
    /* text-shadow:  0px 2px 2px rgba(0,0,0,0.4),
                  0px 4px 6px rgba(0,0,0,0.1),
                  0px 9px 11px rgba(0,0,0,0.1); */
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    /* text-shadow: 1px 1px 0px dimgray, 1px -1px 0px dimgray, -1px 1px 0px dimgray, -1px -1px 0px dimgray; */
    /* text-shadow: 1px 1px 0px rgba(0,0,0,0.2), -1px -1px 0px rgba(0,0,0,0.2); */
    /* text-shadow: 1px 1px 3px black, -1px -1px 3px black; */
  }

</style>
