---
interface Props {
  name?: string;
}

const { name } = Astro.props;
const tech = getTechParams(name!)

function getTechParams(tech: string): any {
  switch (tech) {
    case 'angular2':
      return {
      color: '#c3002f',
      title: 'Angular 2+'
    }
    case 'angular4':
    return {
      color: 'whi#c3002fte',
      title: 'Angular 4+'
    }
    case 'astro':
      return {
      color: '#3245ff',
      title: 'Astro'
    }
    case 'react':
      return {
      color: '#61DBFB',
      title: 'React'
    }
    case 'nextjs':
      return {
      color: 'black',
      title: 'Next.js'
    }
    case 'docker':
      return {
      color: '#1D63ED',
      title: 'Docker'
    }
    case 'githubActions':
      return {
      color: 'black',
      title: 'GitHub Actions'
    }
    case 'jira':
      return {
      color: '#0052CC',
      title: 'Jira'
    }
    case 'bitbucket':
      return {
      color: '#0357D1',
      title: 'BitBucket'
    }
    case 'nodejs':
      return {
      color: '#66cc33',
      title: 'Node.js'
    }
    case 'net':
      return {
      color: '#512bd4',
      title: '.Net'
    }
    case 'mysql':
      return {
      color: '#00758F',
      title: 'MySQL'
    }
    case 'postgresql':
      return {
      color: '#0064a5',
      title: 'PostgreSQL'
    }
    case 'gcp':
      return {
      color: '#DB4437',
      title: 'Google Cloud Platform'
    }
    case 'firebase':
      return {
      color: '#DD2C00',
      title: 'Firebase'
    }
    case 'github':
      return {
      color: 'black',
      title: 'GitHub'
    }
    case 'azure':
      return {
      color: '#0067b8',
      title: 'Azure'
    }
    case 'azureDevops':
      return {
      color: '#0067b8',
      title: 'Azure DevOps'
    }
    case 'javascript':
      return {
      color: '#f7df1e',
      title: 'JavaScript'
    }
    case 'php':
      return {
      color: '#777BB3',
      title: 'PHP'
    }
    case 'python':
      return {
      color: '#4584b6',
      title: 'Python'
    }
    case 'cypress':
      return {
      color: '#1B1E2E',
      title: 'Cypress'
    }
    case 'sass':
      return {
      color: '#c69',
      title: 'Sass'
    }
    case 'tailwind':
      return {
      color: '#38bdf8',
      title: 'Tailwind'
    }
    case 'vercel':
      return {
      color: 'black',
      title: 'Vercel'
    }
    case 'jest':
      return {
      color: '#C63D14',
      title: 'Jest'
    }
    case 'vite':
      return {
      color: '#3d1663',
      title: 'Vite'
    }
    default:
      return {}
  }
}
---
<span class="pill" style=`color: ${tech.color ?? 'unset'};`>{tech.title}</span>
<style>
  .pill {
    max-width: 80%;
    height: 24px;
    text-align: center;
    box-sizing: border-box;
    cursor: default;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 10px;	
    text-shadow: 1px 1px 1px dimgray;
  }

</style>
