---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SEO from '../components/SEO.astro';
import '@fontsource-variable/noto-sans';
interface Props {
	title: string;
	routes: any[];
}

const { title, routes } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<SEO title='Freddy Chan Narvaez Portfolio' description='About Freddy`s work and projects'/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<Header routes={routes}></Header>
	<body>
		<slot />
	</body>
	<Footer></Footer>
</html>
<style is:global>
	html {
		font-family: 'Noto Sans Variable', sans-serif;
	}
	body {
		margin: 0;
	}
</style>
